<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hulk.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Hulk.Shared.Properties.Settings>
      <setting name="SmtpServer" serializeAs="String">
        <value>mail.hulk.vn</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>Hulk Team AutoSender</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value>sender@hulk.vn</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="RequireSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpEmailFrom" serializeAs="String">
        <value>sender@hulk.vn</value>
      </setting>
      <setting name="LanguageFilePath" serializeAs="String">
        <value>Content\languages\vi.lang</value>
      </setting>
      <setting name="DefaultCacheTime" serializeAs="String">
        <value>720</value>
      </setting>
    </Hulk.Shared.Properties.Settings>
  </applicationSettings>
  <log4net>
    <logger name="Log4Net">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs\\"/>
      <datePattern value="dd.MM.yyyy'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
