<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="VanctEntities"
         connectionString="metadata=res://*/Entities.Vanct.csdl|res://*/Entities.Vanct.ssdl|res://*/Entities.Vanct.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=vanct_co_2014;persist security info=True;user id=vanctdb;password=i4I6r_d5;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <applicationSettings>
    <Vanct.WebApp.Properties.Settings xdt:Transform="Replace">
      <setting name="EmailForm" serializeAs="String">
        <value>info@vanct.com</value>
      </setting>
    </Vanct.WebApp.Properties.Settings>
    <Hulk.Shared.Properties.Settings xdt:Transform="Replace">
      <setting name="SmtpServer" serializeAs="String">
        <value>mail.vanct.com</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>ACE Softs</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value>info@vanct.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>282Nxkj_</value>
      </setting>
      <setting name="RequireSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpEmailFrom" serializeAs="String">
        <value>info@vanct.com</value>
      </setting>
      <setting name="LanguageFilePath" serializeAs="String">
        <value>Content\languages\vi.lang</value>
      </setting>
      <setting name="DefaultCacheTime" serializeAs="String">
        <value>720</value>
      </setting>
    </Hulk.Shared.Properties.Settings>
  </applicationSettings>
</configuration>