<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Namviet.Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <logger name="Log4Net">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs\\"/>
      <datePattern value="yyyy.MM.dd'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <Namviet.Sender.Properties.Settings>
      <setting name="FilePath" serializeAs="String">
        <value>C:\Workspaces\NamvietData.mdb</value>
      </setting>
    </Namviet.Sender.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Namviet" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://namvietkhanhhoa.com/Api/DoanhThu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Namviet"
        contract="NamvietApi.Namviet" name="BasicHttpBinding_Namviet" />
    </client>
  </system.serviceModel>
</configuration>