<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POS.Shared.Properties.Settings>
            <setting name="SmtpServer" serializeAs="String">
                <value>mail.hulk.vn</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value>Hulk Team AutoSender</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>sender@hulk.vn</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="RequireSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpEmailFrom" serializeAs="String">
                <value>sender@hulk.vn</value>
            </setting>
            <setting name="LanguageFilePath" serializeAs="String">
                <value>languages\vi.json</value>
            </setting>
            <setting name="LogProviderName" serializeAs="String">
                <value>Log4Net</value>
            </setting>
            <setting name="DefaultCacheTime" serializeAs="String">
                <value>600</value>
            </setting>
        </POS.Shared.Properties.Settings>
    </applicationSettings>
</configuration>