body.bep {
    .ban {
        min-width: 80px;

        &.busy {
            background-color: red;
            color: #fff;
        }

        &.processed {
            background-color: #00f;
            color: #fff;
        }
    }
}
